.login__form{
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
 padding: 20px 20px 30px 10px;
}

.ui.card{
    width: 100%;
}

.login{
    margin-top: 30px;
}

.register_card_header{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size:larger;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}
.container {
    display: flex;
  }
  

  .button{
      width: 100%;
  }

