.div__parent {
  margin: 5%;
  border-width: 5px;
}

.div__Content {
}

.delete__category {
  color: red;
}

.div__Alert {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.div_btn_green {
  color: green !important;
  border-color: green !important;
}

tbody {
  display: block;
  height: 270px !important;
  overflow: auto;
}