tbody {
    display: block;
    height: 100px;
    overflow: auto;
  }
  
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .alice-carousel ul li img{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  