.product:first-child{
    margin-bottom: 25px; 
}

.product__title{
    color: #5B86E5 !important;
    font-weight: bold;
}

.product__image{
    margin: 13px;
    height: 230px;
    object-fit: contain;
    margin-left: 5px;
}

.product__footer{
    text-align: center;
}

.product__button{
      background: #36D1DC !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.product__price{
    font-weight: bold;
    font-size: 1.1rem;
}

.product__auction{
    color:rgb(255, 59, 59);
    font-weight: bold;
    font-size: 1.3rem;
}

.product__timer_timeout{
    color:rgb(255, 59, 59);
    font-weight: bold;
}

.product__timer{
    color:rgb(42, 151, 32);
    font-weight: bold;
}

.product__buyNowPrice{
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
}

.product__bidder{
    font-weight: bold;
    font-size: 1.1rem;
}

.product__card{
    height: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
   
}