.home{
   padding-bottom: 15rem;
   margin-top: 30px;
   height:100%
}

.home__segment{
   height: 100vh;
}

.home__loaderMessage{
   font-weight: bold;
}

.ui.column.grid>[class*="two wide"].column, .ui.grid>.column.row>[class*="two wide"].column, .ui.grid>.row>[class*="two wide"].column, .ui.grid>[class*="two wide"].column {
   width: 13.2%!important;
}

.userform {
   border: none !important; 
}

.col__user {
   padding-left: 20px;
}

.ui.inverted.menu {
   border: 0 solid transparent;
   background: #4d9be8 !important;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.ui.grid>.row {
    padding-left: 30px !important;
    padding-top: 20px !important;
}
.ui.grid>[class*="two wide"].column {
   width: 13.2%!important;
   padding-top: 28px !important;
}

.ant-input-affix-wrapper {
   width: 310 !important;
}